body {
	background-color:#F5C594;

/*	scrollbar-face-color:rgb(212,144,99);*/
	scrollbar-face-color:rgb(143,85,69);
	scrollbar-shadow-color:black;
	scrollbar-highlight-color:white;
	scrollbar-3dlight-color:rgb(245,197,148);
	scrollbar-darkshadow-color:black;
	scrollbar-base-color:rgb(143,85,69);
	scrollbar-arrow-color:rgb(245,197,148);
	scrollbar-track-color:rgb(245,197,148);	
}
H1 {
	color: maroon;
	font-family: "Times New Roman";
	font-size: 16pt;
	text-align: center
}