body {
	background-color:#F2DAC0;

	border-left-style:solid;
	border-left-color:#F2DAC0;	
	border-left-width:10px;	
	
	Scrollbar-Face-Color:#8F5545;
	Scrollbar-Arrow-Color:#F2DAC0;
	Scrollbar-Track-Color:#F2DAC0;
	Scrollbar-3Dlight-Color:#F2DAC0;
	Scrollbar-Darkshadow-Color:#F2DAC0;
	Scrollbar-Highlight-Color:#F2DAC0;
	Scrollbar-Shadow-Color:#F2DAC0;

	height:100%;
}